/* General - apply all pages
-------------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000000;
  --blue-black: #161c1f;
  --blue: #0d3e5b;
  --light-blue: #e3f2fb;
  --blue-green: #7ea5bf;
  --yellow: #f5cf73;
  --orange: #e9a125;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  flex: 1;
  width: 100vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--blue-black);
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Trirong", serif;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  color: var(--blue);
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  display: flex;
  color: var(--blue-black);
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

h3,
.cta,
.contact ul {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

.cta {
  display: inline-block;
  padding: 5px 50px;
  border-radius: 0.0625rem;
  border: 1px solid var(--blue-black);
}
.cta-orange {
  background: var(--orange);
}

.cta-yellow {
  background: var(--yellow);
}

.cta-blue {
  background: var(--blue-green);
}

.back-to-top {
  display: block;
  text-align: center;
  color: var(--light-blue);
}
.copyright {
  display: none;
}

/* Header
-------------------------------------------------------------------*/
header {
  background-color: var(--blue);
  width: 100%;
  position: fixed;
  position: relative;
  z-index: 100;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.current {
  font-weight: 700;
  text-decoration: underline;
}

#menu-checkbox,
nav {
  display: none;
  padding: 20px;
}

nav {
  position: absolute;
  background-color: var(--light-blue);
  left: 0px;
  top: 65px;
}

nav a {
  display: block;
  padding: 20px;
}
nav a:hover {
  font-weight: 700;
}
#menu-checkbox:checked ~ nav {
  display: block;
}

.fa-bars {
  display: inline-block;
  padding: 20px;
  color: var(--light-blue);
}
.logo {
  display: inline-block;
  padding: 10px 20px;
}

/* Footer
-------------------------------------------------------------------*/
footer {
  background-color: var(--blue);
  width: 100%;
  color: var(--light-blue);
}

/* index.html
-------------------------------------------------------------------*/
.welcome {
  background-image: linear-gradient(
      180deg,
      rgba(227, 242, 251, 0.83) 51.04%,
      rgba(126, 165, 191, 0.83) 71.88%,
      #0d3e5b 100%
    ),
    url(../images/homepage-museum.jpg);
  width: 100%;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome h1 {
  color: var(--blue-black);
  font-family: Trirong;
  font-size: 2rem;
}

.welcome p {
  font-size: 1rem;
  font-weight: 400;
}

.intro img {
  border-radius: 50%;
}

.events {
  background-color: var(--light-blue);
}

.events-single,
.exhibition-tile {
  display: inline-block;
  border-radius: 0.3125rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

.exhibition-tile {
  border: 1px solid var(--blue-black);
}

.events-single {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.events-single h3 {
  display: inline-block;
  background-color: var(--blue-green);
}

.events-single p {
  display: inline-block;
  background-color: var(--yellow);
}

.exhibition-tile h3,
.exhibition-tile h2,
.exhibition-tile-pcta {
  display: inline-block;
  background-color: var(--light-blue);
}
.night-in-museum {
  background-image: url(../images/homepage-event-nightinmuseum.jpg);
}

.astronaut {
  background-image: url(../images/homepage-event-astronaut.jpg);
}

.biology {
  background-image: url(../images/ehhibitions-heart.jpg);
}

.robotics {
  background-image: url(../images/exhibitions-robotics.jpg);
}

.cosmology {
  background-image: url(../images/exhibitions-cosmology.jpg);
}


/* visit.html
-------------------------------------------------------------------*/

.visit h3 {
  color: var(--blue-black);
  font-family: "Trirong", serif;
  font-size: 1.25rem;
}

.visit img {
  display: block;
  width: 100%;
  max-height: 15vw;
  object-fit: cover;
  object-position: center;
  margin: 10px 0;
}

/* exhibitions.html
-------------------------------------------------------------------*/
.ecology {
    background-image: url(../images/exhibitions-ecology.jpg);
}

.evolution {
    background-image: url(../images/exhibitions-evolution.jpg);
}

/* get-involved.html
-------------------------------------------------------------------*/

.get-involved img {
  border-radius: 50%;
}

.exhibition img {
  border-radius: 50%;
}
/* contact.html
-------------------------------------------------------------------*/
.contact {
  background-image: linear-gradient(
      180deg,
      rgba(227, 242, 251, 0.83) 8.85%,
      rgba(126, 165, 191, 0.83) 21.35%,
      #0d3e5b 45.31%
    ),
    url(../images/homepage-museum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact ul {
  color: var(--blue-black);
}

.contact label {
  display: block;
  font-family: Work Sans;
  font-size: 0.875rem;
  font-weight: 400;
}
/* contact-confimration.html
-------------------------------------------------------------------*/
.contact-confirmation {
  background-image: linear-gradient(
      180deg,
      rgba(227, 242, 251, 0.83) 36.98%,
      rgba(126, 165, 191, 0.83) 63.02%,
      #0d3e5b 95.31%
    ),
    url(../images/homepage-museum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-confirmation h1 {
  color: var(--blue-black);
}

.contact-confirmation p {
  color: var(--blue-black);
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;
}

/* Media Queries
-------------------------------------------------------------------*/

@media (min-width: 600px) {
  .copyright {
    display: inline-block;
  }

  .back-to-top {
    display: none;
  }

  nav {
    display: block;
    position: static;
    background-color: var(--blue);
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
    color: var(--light-blue);
  }
}
